.footer {
    background-color: #1d1f21;
  }
  
  .footer-logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .footer-link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-link:hover {
    color: #a42526; /* Hover rengi */
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
  }
  
  .social-link {
    color: #ffffff;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  .social-link:hover {
    color: #a42526; /* Sosyal medya ikon hover rengi */
  }